.pagina {
    background-color: #9DC08B;
}

.formulario {
    width: 90%;
    background-color: #efefef;
    padding: 20px;
    margin: 0px auto;
    border-radius: 20px;
}

.legenda {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 500;
    font-family: 'Open Sans', sans-serif;
}

.legenda:nth-child(4) {
    border: 1px solid black;
}

.legenda:nth-child(5) {
    background: yellow;
}

.legenda:nth-of-type(6) {
    background-color: #fb545c;
}


.container {
    border-radius: 20px;
    box-shadow: 0px 0px 5px lightgray;
    background: white;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 50px;
}

.box_pagamento {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 20px;
    align-items: center;
}

.pagamento {
    grid-column: 1;
    grid-row: 1/4;
}

.pagamento button {
    background: none;
    font-weight: 700;
    color: #FFF;
    font-size: 20px;
    border-radius: 10px;
    background-color: #34402E;
    padding: 5px 10px;
    border: none;
}

.box_pagamento span {
    color: red;
    font-weight: 500;
}

.pagamento button:disabled {
    background-color: gray;
}

@media screen and (max-width: 600px) {

    .container {
        flex-wrap: wrap;
        padding: 0;
        gap: 10px;
        padding: 10px;
    }

    .formulario{
        padding: 10px;
    }

    .pagamento button {
        grid-column: 1/3;
        grid-row: 1;
        width: 90vw;
    }

    .box_pagamento span {
        grid-column: 1/3;
    }
}
