.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    justify-content: space-around;
    width: 100%;
    margin: 20px auto;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.numeros {
    width: 30px;
    padding: 10px;
    border: none;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
}

.ativado {
    background-color: white;
}

.desativado {
    background-color: #fb545c;
}

.escolhido {
    background-color: yellow;
}

.loading {
    width: 100px;
    height: 100px;
    display: flex;
    justify-self: center;
}


@media screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-wrap: wrap;
        height: 500px;
        overflow: scroll;
    }

    .loading {
        align-self: center;
    }

}